<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mini_proect">

    <application

        android:debuggable="true"
        android:testOnly="true"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Device Management"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mini_proect"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".Activities.AdminDetails"
            android:exported="true" />
        <activity
            android:name=".Activities.HomeScreenEmployee"
            android:exported="true" />
        <activity
            android:name=".Activities.ChangePassword"
            android:exported="true" />
        <activity
            android:name=".save_data"
            android:exported="true" />
        <activity
            android:name=".Activities.Register"
            android:exported="true"
            />
        <activity
            android:name=".Activities.Home_screen_admin"
            android:exported="true"
            />

        <activity
            android:name=".Activities.login"
            android:exported="true"
             />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>